*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a, ul, li{
    color: inherit;
    text-decoration: none
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

html, body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background);
    font-family: 'Montserrat', sans-serif;
    color: var(--color-text);
}

:root{
    /* ---------------------------------------------- Pokemon card colors */
    --color-grass-primary: #63DF38;
    --color-grass-secondary: #2ED573;
    --color-fire-primary: #FFB142;
    --color-fire-secondary: #FF5252;
    --color-water-primary: #33D9B2;
    --color-water-secondary: #34ACE0;
    --color-bug-primary: #ACE730;
    --color-bug-secondary: #439710;
    --color-flying-primary: #81ECEC;
    --color-flying-secondary: #6799B6;
    --color-normal-primary: #FFDA79;
    --color-normal-secondary: #FFB142;
    --color-poison-primary: #DD54E9;
    --color-poison-secondary: #4E0E76;
    --color-electric-primary: #F0FF40;
    --color-electric-secondary: #F5DF12;
    --color-ground-primary: #F8C84C;
    --color-ground-secondary: #AD6A0B;
    --color-fighting-primary: #D37147;
    --color-fighting-secondary: #CA1E1E;
    --color-psychic-primary: #CD84F1;
    --color-psychic-secondary: #706FD3;
    --color-rock-primary: #C4C4C4;
    --color-rock-secondary: #696969;
    --color-fairy-primary: #FC90D1;
    --color-fairy-secondary: #F1848B;
    --color-ghost-primary: #B245BB;
    --color-ghost-secondary: #2B0443;
    /* ---------------------------------------------- Text colors */
    --color-background: #f8f8f8;
    --color-title: #696969;
    --color-text: #696969;
    --color-text-in-gradient: #f8f8f8;
    --color-border: #d3d3d3;
    --shadow: 0 0.1rem 0.8rem rgba(0,0,0, .3);
}

#root{
    width: 100%;
}

/* ----------------- GRID ---------------- */

.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

@media (min-width: 600px){
    .container{
        width: 80%;
    }
}

/* ----------------- TEXTS ---------------- */

.title{
    font-size: 1.6rem;
    color: var(--color-title);
    text-align: center;
}


/* ----------------- BUTTONS ---------------- */

.btn{
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    padding: 1.5rem 0;
    border-radius: 0.3rem;
    box-shadow: var(--shadow), inset 0 0.2rem 0.5rem rgba(255, 255, 255, 0.4);
}

.btn span, .btn a{
    text-align: center;
    color: white;
}

.btn[class~="grass"] {
    background-image: linear-gradient(to bottom, var(--color-grass-primary), var(--color-grass-secondary));
}

.btn[class~="fire"] {
    background-image: linear-gradient(to bottom, var(--color-fire-primary), var(--color-fire-secondary));
}

.btn[class~="water"] {
    background-image: linear-gradient(to bottom, var(--color-water-primary), var(--color-water-secondary));
}

.btn[class~="bug"] {
    background-image: linear-gradient(to bottom, var(--color-bug-primary), var(--color-bug-secondary));
}

.btn[class~="flying"] {
    background-image: linear-gradient(to bottom, var(--color-flying-primary), var(--color-flying-secondary));
}

.btn[class~="normal"] {
    background-image: linear-gradient(to bottom, var(--color-normal-primary), var(--color-normal-secondary));
}

.btn[class~="poison"] {
    background-image: linear-gradient(to bottom, var(--color-poison-primary), var(--color-poison-secondary));
}

.btn[class~="electric"] {
    background-image: linear-gradient(to bottom, var(--color-electric-primary), var(--color-electric-secondary));
}

.btn[class~="ground"] {
    background-image: linear-gradient(to bottom, var(--color-ground-primary), var(--color-ground-secondary));
}

.btn[class~="fighting"] {
    background-image: linear-gradient(to bottom, var(--color-fighting-primary), var(--color-fighting-secondary));
}

.btn[class~="psychic"] {
    background-image: linear-gradient(to bottom, var(--color-psychic-primary), var(--color-psychic-secondary));
}

.btn[class~="rock"] {
    background-image: linear-gradient(to bottom, var(--color-rock-primary), var(--color-rock-secondary));
}

.btn[class~="fairy"] {
    background-image: linear-gradient(to bottom, var(--color-fairy-primary), var(--color-fairy-secondary));
}

.btn[class~="ghost"] {
    background-image: linear-gradient(to bottom, var(--color-ghost-primary), var(--color-ghost-secondary));
}