*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background);
}

:root{
    --color-background: #f8f8f8;
    --color-text: #696969;
}

#root{
    width: 100%;
}

/* ----------------- GRID ---------------- */

.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

@media (min-width: 600px){
    .container{
        width: 80%;
    }
}